<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <!-- <editor-fold desc="Google Fonts https://fonts.google.com/selection"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" as="style" type="text/css">
    <!-- </editor-fold> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% include head-custom.html %}
  </head>
  <body>
    <header role="banner">
      {% include breadcrumbs.html %}
      <h1 class="project-name">{{ page.title | default: site.title }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
      <a href="/principles/" class="button">Principles</a>
      <a href="/contact" class="button">Contact</a>
      <a href="https://github.com/sponsors/ephemeral-laboratories" class="button"><i class="fa-regular fa-heart"></i> Sponsor</a>
    </header>

    <main role="main">
      {{ content }}

      <footer>
        {% if site.copyright %}
          <span class="copyright">{{ site.copyright }}</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>